:root {
    --dark-yellow: #9A906D;

    --light-grey: #585858;
    --medium-grey: #343434;
    --dark-grey: #262626;

    --sobre-bg: #f6f4f4;
    --sobre-color: #949494;
}

* {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: var(--light-grey);
}

header .navbar {
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 23px 0;
}

header .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header .menu-item {
    margin: 0 5px;
}

header .active {
    border-bottom: 2px solid var(--dark-yellow);
}

header .menu-item a {
    text-decoration: none;
    color: var(--dark-yellow);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

header .menu-item a:hover {
    color: white;
}

.coreto {
    max-width: 70px;
    position: absolute;
    right: 0;
}

main .sobre {
    background-color: var(--sobre-bg);
}

.side-color {
    background-color: var(--medium-grey);
}

.sobre-inner .sobre-titulo {
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
}

.sobre-inner .sobre-descricao {
    font-size: 14px;
    color: var(--sobre-color);
    padding-bottom: 15px;
}

.btn-yellow {
    letter-spacing: 1px;
    background-color: var(--dark-yellow);
    color: white;
    font-size: 12px;
    font-weight: bold;
}

main .revisao-titulo {
    font-size: 30px;
    font-weight: bold;
}

main .titulo {
    font-family: 'remanregular';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

main .cidades-sobre {
    font-size: 14px;
    text-align: center;
    padding: 0 15px;
}

main .cidades-titulo {
    font-size: 30px;
    font-weight: bold;
}

main .galeria-item {
    margin-bottom: 15px;
    cursor: pointer;
}

main .galeria-titulo {
    font-size: 30px;
    font-weight: bold;
}

main .depoimento-item {
    font-size: 18px;
    color: #BCBCBC;
}

main .depoimentos-titulo {
    font-size: 30px;
    font-weight: bold;
}

.up img {
    max-width: 100px;
    cursor: pointer;
}

footer {
    height: 50px;
    background-color: var(--dark-grey);
}